@keyframes stop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes letter-x-leftSwing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes letter-x-rightSwing {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(200px);
  }
}

.animation-letter {
  /* animation: letter-x 5s infinite cubic-bezier(0.46, -0.01, 0.61, 0.99); */

  animation:
    letter-x-leftSwing 1s cubic-bezier(0.41, 0.07, 0.61, 0.99) alternate,
    letter-x-rightSwing 1s cubic-bezier(0.1, 0.51, 0.61, 0.99);

  /* letter-y 2s infinite cubic-bezier(0.5, 600, 0.5, -600); */
}

/* 
0.5s - 10%
0.75s - 15%
1s - 20%
1.5s - 30%
2s - 40%
2.5s - 50%
3s - 60%
4s - 80%
5s - 100%
*/
